.hotel-image img {
    width: 80%;
}

.hotel-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}

.hotel-description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.star-icon img {
    height: 15px;
}

.star-icon {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.price {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-left: 30px;
}

.night {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    color: #898989;
}

.total-price {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 17px;
    color: #898989;
    margin-left: 20px;
}