.home-area {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../Image/bg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}