.app-bar {
    color: #fff;
}

.logo {
    width: 50%;
}

.nav-link {
    color: #fff;
    font-weight: 500;
}

.nav-link:hover {
    color: rgb(218, 218, 218);
}

.login-btn {
    font-weight: 600;
    width: 80px;
}

.search-box {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.search-box:focus {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    box-shadow: none;
    border-color: #fff;
}

/* .nav-items .login-btn {
    background-color: #F9A51A;
    font-weight: 600;
    width: 80px;
} */